[2016-07-29 12:01] kprinssu opened #2 "Proper RGB colour selection"
Currently, the app is using 3 sliders for selecting colours. There exist better alternatives to selecting a colour (i.e. a colour wheel). However, such an alternative will be need to be custom made to support XAML.

A potential third party library was mentioned here, https://github.com/kprinssu/anne-keyboard-windows/pull/1 and https://github.com/kprinssu/Color_Picker

[2016-07-29 12:03] kprinssu opened #3 "Layout Change"
Currently the official Anne Pro keyboard has support for changing the key value each button on the keyboard. The current app does not support that and support will need to be added.

[2016-07-29 12:08] kprinssu opened #4 "Bluetooth Connection"
Having the app open and connecting the keyboard will cause the app to not detect the keyboard. The temporary fix is to restart the app. The C# Bluetooth API provides endpoints to check if a Bluetooth device was connected or not. However, getting the physical device seems to "not work". More research needs to be down as to why this happens.

[2016-07-29 12:19] Kitinni commented on #2
Good find on the updated RadialColorPickerCV, I love the design of this and wanted to use it but hadn't quite figured out how to update it for use with UWP.
I'll have a go at adding this later

[2016-07-29 12:27] kprinssu commented on #2
The original library doesn't seem to be working on Windows 10, but the fork above should work on Windows 10. There seems to be dependency errors, but that should be easy to fix.

[2016-07-29 12:28] kprinssu commented on #4
The Bluetooth device IDs were not matching. When the ConnectToKeyboard function was called, a "Element not found" exception was raised. This issue is now fixed in https://github.com/kprinssu/anne-keyboard-windows/commit/785e9c9bc6e215c0ae8cd4c9a3ef9b93922629aa

[2016-07-29 12:28] #4 closed, assigned to kprinssu

[2016-07-29 13:32] kprinssu commented on #2
I created a Nuget package with the above project tohttps://www.nuget.org/packages/Color_Picker/1.0.2
Let me know if there are any issues.

[2016-07-29 13:44] kprinssu opened #5 "Macro Support"
The official app has macro support by recording key presses. The Windows app will also need to support this feature. However, this feature is complex and will require some time to implement.

[2016-07-29 16:02] kprinssu commented on #2
I have added a colour picker in https://github.com/kprinssu/anne-keyboard-windows/commit/283c3cca3ffbe539725ff3fde15fe589d94a4084, UI tweaks will be needed, but it now looks a lot cleaner.

[2016-07-29 18:15] Kitinni opened #6 "Profile selection / renaming"
Currently it's not very clear how to select a Profile, clicking the name on the left will focus on a textbox to edit so only the area around the textbox can be clicked to select the profile.

![anneprofile](https://cloud.githubusercontent.com/assets/13258131/17258641/2931e2f8-55c8-11e6-971e-77d9dac5f27a.png)

I thought of 2 possible improvements here, the easiest would be to have the Profile list

[2016-07-29 19:02] Kitinni commented on #2
That looks clean indeed, thanks for this component @shivamcv and @rolandsmeenk for updating it !

[2016-07-29 21:40] kprinssu commented on #6
Sounds a like good idea. XAML has a SymbolIcon element, and all of the icons in the app are using it. The UWP framework has default icons you can use, here's a good list that you can take a look at: https://msdn.microsoft.com/library/windows/apps/dn252842

[2016-07-30 12:34] #2 closed, assigned to nobody

[2016-08-02 19:31] Kitinni opened #7 "Default selected colour does not match colour wheel"
The SelectedColour variable doesn't get set after the colour wheel is initialized so the colour picker shows red but when clicking on a key it will turn black.

[2016-08-02 23:14] kprinssu commented on #7
Fixed by @Kitinni in https://github.com/kprinssu/anne-keyboard-windows/commit/cb0e836d41e110ea2964d6f2178886af200dad73

[2016-08-02 23:14] #7 closed, assigned to nobody

[2016-08-04 23:21] kprinssu commented on #3
More testing is going to be needed. This feature is highly risky since we can disable all functionality of the keyboard by disabling the Fn and "Anne" macro keys.

[2016-08-05 00:42] kprinssu commented on #6
Added this feature in https://github.com/kprinssu/anne-keyboard-windows/commit/838de9141a0d6799ecc37d06cfda88b9ac748425

Let me know if you spot any bugs.

[2016-08-05 09:14] Kitinni commented on #6
Awesome, that's what I was going for but I had issues with the IDs being the same when relying solely on the count. Good solution with the `KeyboardProfiles_CollectionChanged` function.

I had a play around creating and deleting some profiles and it no longer deletes the wrong profiles when creating and deleting multiple with the same label :+1:

[2016-08-05 12:10] #6 closed, assigned to kprinssu

[2016-08-08 13:39] kprinssu opened #9 "Retrieve Saved Profiles"
It seems that the official app can sync profile data (e.g. retrieve the stored macros, layout, and backlight information).

This should be done automatically, but currently this is a low priority.

[2016-08-08 21:40] kprinssu commented on #3
@Kitinni, I can use some feedback on how to go about implementing a useful UI for changing layouts.
 I was thinking of using Dropdowns in place of UI buttons (or textbox with a typeahead).

[2016-08-09 00:03] kprinssu commented on #3
Basic syncing added in https://github.com/kprinssu/anne-keyboard-windows/commit/776895c2bbbfb2a37bebdff3d1f45868f740f9b2

Currently, there is no way of actually setting up a custom layout (no UI controls).

[2016-08-12 21:30] kprinssu commented on #3
Added full support for layout syncing in https://github.com/kprinssu/anne-keyboard-windows/commit/6a23fa0a7652e684d126a5086dd5347c18622ef0

[2016-08-12 21:30] #3 closed, assigned to kprinssu

[2016-08-18 11:14] Beardanidas opened #10 "Windows 7 Support"
I know its probably a long shot, but about 1/3 of steam is still on Windows 7. Any chance for support?

[2016-08-18 20:48] kprinssu commented on #10
Unfortunately, the Universal Windows Platform (UWP) apps are not officially supported by Microsoft. This projects depends on key APIs that are only supported by UWP, and hence the requirement for Win8/10.

I (or someone) else may be able to create something for Win7, but it seems like there isn't an easy of way doing it in C# (or any other language for that matter). Support for any high-level Blue

[2016-08-18 20:48] #10 closed, assigned to nobody

[2016-08-23 19:01] szensk opened #11 "Media controls"
When assigned to the fn layer the media controls (volume up/down, mute) do nothing. I'm on Windows 10, with the latest firmware (1.2.0). Any ideas?

[2016-08-23 20:28] kprinssu commented on #11
I believe that I got the keys mapped incorrectly. Looks like I will have to take a look at how the keys are set in the official app.

[2016-08-24 21:40] kprinssu commented on #11
From a quick check, it seems that it only works on Macs. Can you also check using the phone app and your own keyboard?

[2016-08-25 02:42] szensk commented on #11
Ah you're right. Set with the phone and it only works on my Mac. I have to ask Obins about that.

[2016-08-25 11:12] kprinssu commented on #11
Hopefully the Obins dev fix this in this next update.

[2016-08-25 11:12] #11 closed, assigned to kprinssu

[2016-09-21 21:22] mttx opened #12 "Not saving profiles"
Not sure if this is the right place, but the App doesnt save profiles I created.

Am I doing something wrong or is this a bug?

[2016-09-22 11:24] kprinssu commented on #12
You got the right place. It should be saving profiles correctly with the latest version (1.0.2).
 Can you tell me when you downloaded the app? Do you see the layout changing option?

[2016-09-23 20:27] mttx commented on #12
I got the app this week, I think wednesday or so. Ill try the new version, Im on 1.01

[2016-09-23 20:29] kprinssu commented on #12
You should have the latest version... I'm unsure of what could cause this. Can you let me know if the re-downloaded version of 1.0.2 still does not save profiles.

[2016-09-24 15:47] mttx commented on #12
Got the new version and it works! Thanks 👍

However my layout changed and I cant fix it. Im using the standard layout and if I press Fn+ /? which is supposed to be "delete" doesnt do anything anymore. Instead Fn+.> is now delete.

The standard fn-layer:
http://i.imgur.com/TtyDQoB.png

[2016-09-24 16:20] kprinssu commented on #12
Looks a small bug in the default layout. You can change it back using the app, but I'll add in a fix soon.

[2016-09-24 16:43] mttx commented on #12
Yeah I changed it via the app. Do you think its possible to add other keys from other countries layouts?  Specifically this one http://i.imgur.com/Hz1qjCS.png since im typing on the German layout and this key is missing :(

[2016-09-24 16:48] kprinssu commented on #12
Sorry, the keyboard only supports US ANSI layout.

[2016-09-25 08:49] mttx commented on #12
Ah alright no big deal

[2016-09-25 08:49] #12 closed, assigned to kprinssu

[2016-10-16 04:23] ghost opened #13 "Issues installing on Win8"
Hi, I tried to install this on Windows 8 and ran into problems.

[code]

Would you also mind telling me what certificate it installed so I can remove it if I can't get it to work?

[2016-10-16 16:47] kprinssu commented on #13
Looks like you don't have developer mode enabled. Run this command in an escalated Powershell terminal (run Powershell with administrator privileges):
`Show-WindowsDeveloperLicenseRegistration`

Then try installing it again.

[2016-10-16 22:00] ghost commented on #13
I already went through that process and got a license that is good for a year. I used the command you suggested and it installed a license again, but I still get the same error.

[2016-10-17 11:17] kprinssu commented on #13
Sorry, but there is not much else I can suggest. From that specific error message, it looks a sideloading issue (certificate is not signed/verified, see https://msdn.microsoft.com/en-us/library/windows/apps/hh975356(v=vs.110).aspx). The easiest way for me to trouble shoot is to install it locally on a Win8 machine, but I currently do not have the time to do so. Also, please ensure that you are usi

[2016-11-14 09:12] ghost opened #14 "[Question/Enhancement] - USB Config"
I understand this app uses the same protocol (so to speak) to configure the anne keyboard as the mobile apps use? Is the anne keyboard set up in such a way that it can be configured by a USB host?

[2016-11-15 02:29] ghost commented on #14
Apologies. I have researched [the reddit page](https://www.reddit.com/r/MechanicalKeyboards/comments/4us0uk/anne_pro_windows_10_app/) and seen that they keyboard supports bluetooth configuration only.

[2016-11-15 18:57] kprinssu commented on #14
The keyboard only supports backlight control via Bluetooth.

[2016-11-15 18:57] #14 closed, assigned to nobody

[2016-11-18 16:03] kprinssu commented on #13
I am closing this issue for now. Feel free to re-open this again if you are still having troubles installing it on Windows 8

[2016-11-18 16:03] #13 closed, assigned to nobody

[2017-01-27 13:05] timm0e opened #15 "Windows 8 Installation failure"
[code]

I hope you can get some info out of this :)

If you need further information/testing, feel free to contact me

[2017-01-28 16:43] kprinssu commented on #15
Do you mind if you can post a rough translation of what that error?

[2017-01-29 12:39] timm0e commented on #15
Error 0x80080204: Validation error in App-Manifest: The documentrootelement "m:Package" needs to be defined in the namespace "http://schemas.microsoft.com/appx/2010/manifest"

[2017-01-29 17:25] kprinssu commented on #15
Looks like a language mismatch (see http://wasker.github.io/articles/2016-01-12-universal-windows-apps-uwp-package-manifest-not-valid/). I'll have a fix made asap.

Edit: I do not have access to a Windows machine right now and it may take a while to get a proper build pushed out.

[2017-02-05 16:18] kprinssu commented on #15
After spending few more minutes looking at the error im detail. I have found that is linked to how to sideload apps in Windows 8. Can you confirm that you have "developer" mode enabled?

[2017-02-06 16:43] timm0e commented on #15
Yep, I aquired a developers license (as specified here: www.makeuseof.com/tag/sideload-apps-windows-8-10/)

[2017-02-07 20:01] kprinssu commented on #15
I'll need more information on why that error is occurring. Can you please try running this command in this powershell: `Get-AppxLog`

[2017-02-09 03:13] anonymous83 commented on #15
same issue here. using windows 8.1. Developer mode enabled but get the same erro when installing the application

[2017-02-09 03:18] anonymous83 commented on #15
Message
 -------
 The calling process is C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe
 Started deployment Add operation on a package with main parameter:
 file:///C:/AnneProKeyboard/AnneProKeyboard_1.0.1.0_x86_x64_arm.appxbundle,
 dependency parameters: file:///C:/AnneProKeyboard/Dependencies/x86/Microsoft.NET
 .Native.Framework.1.3.appx, file:///C:/AnneProKeyboard/Dependencies/x86/Mi

[2017-02-13 19:50] timm0e commented on #15
Hey there,

When I was bored in class, so i went through the App Manifest with a Text Editor

`<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">`

The required namespace http://schemas.microsoft.com/appx/2

[2017-02-14 19:46] kprinssu commented on #15
I did a combination of the two to reverse-engineer the protocol. I did a quick write up on Reddit and I currently do not have the time to do a formal write up of the process.

It looks like I am targeting Win10 and only Win10. I will do a re-build ASAP.

[2017-02-15 21:37] Nielwulf opened #16 "Windows 10 LTSB install issue"
I am having issues installing the Annepro desktop app on my Windows 10 Enterprise LTSB computer.

Below you will find the install errors AND the Get-AppxLog

http://pastebin.com/jP6Px35n

It looks like it is failing on installing the dependencies but I cant find which one it is having trouble with or if there is a separate one that needs to be installed for my version of Win10.

[2017-02-17 02:06] kprinssu commented on #16
I believe that your Windows 10 version is too old. Can you grab the latest version of the app and try installing it? It should support older versions, if not please let me know and I will try to get a proper build out.

[2017-02-17 13:49] Nielwulf commented on #16
I was following the link from the /r/annepro and didn't notice a new version of the app was out there. I was able to install the app without issue, however it won't start with UAC disabled. So two steps forward and one step back?

[2017-02-17 15:52] kprinssu commented on #16
It should work with UAC disabled. Can you provide information on why/how it won't start?

The app requires Bluetooth permissions, so I would check there. If UAC is also disabled, then the app should work.

[2017-02-17 15:55] kprinssu commented on #15
@timm0e I may have not realised that I am building against the Win10 SDK. The UWP platform should be easy to port over to other platforms since the APIs should not change. If you want help on how I reversed the Bluetooth protocol, please e-mail at kprinssu@uwaterloo.ca

I can create a formal write-up if you so need it.

[2017-02-21 15:16] Nielwulf commented on #16
When I attempt to start the app, i get a Windows 10 styled prompt saying the app can't open with UAC disabled. I have included a screenshot of the message that I receive.
![app](https://cloud.githubusercontent.com/assets/6455774/23170865/5eacab66-f816-11e6-94fc-7790b14bb155.png)

[2017-02-21 15:29] kprinssu commented on #16
Contradictory what I said before, you need to enable User Account Control (UAC). Looking at Microsoft's Developer docs, you'll need UAC enabled for any UWP app to work.

[2017-02-21 15:30] kprinssu commented on #15
It seems that I was mistaken and UWP only supports Windows 10. Adding support for Win8 will result in a total re-write of the app and I do not have the time to do so. I will close this ticket for the time being.

[2017-02-21 15:30] #15 closed, assigned to kprinssu

[2017-02-21 15:39] Nielwulf commented on #16
Ahhh, it all makes sense now. Thanks for the app, i'll enable UAC if i need to make any changes. Until then I'll just use the phone app.

[2017-02-21 15:39] #16 closed, assigned to nobody

[2017-04-03 23:06] DanielLaszlo opened #17 "FN Layer does not map properly"
Setting the FN layer buttons with the App produces a weird behaviour.
Some buttons work, some do not. Some keys produce events that were not mapped to them.

[2017-04-05 16:07] kprinssu commented on #17
Looks like you fixed the issue in https://github.com/kprinssu/anne-keyboard-windows/pull/18#merged-event

[2017-04-05 16:07] #17 closed, assigned to nobody

[2017-04-06 08:34] jacobbjo opened #19 "Colors not assigned to correct buttons"
It works correctly on the android app so I assume my keyboard is not the problem.

When I use the windows app the colors does not get assigned to the correct buttons, see picture.

![bug anne pro](https://cloud.githubusercontent.com/assets/1240025/24744989/3d2fe96a-1ab4-11e7-95f5-36bb87cbaf5b.png)

[2017-04-06 19:38] thomasf opened #20 "Where are the profiles saved?"
I'd like to edit them with a text editor, if possible..
The GUI is too clunky when managing many profiles.

[2017-04-06 19:46] thomasf commented on #20
btw..

I have kind of started coding a linux only (for now) command line programmer.. I haven't started implementing the BT stuff yet but I have divided the configurations into four/five data types:

1. A palettes/color scheme
2. A color mapping layout which uses a palette
3. A key mapping layout (maybe considering having the fn-layer config separated)
4. A Preset (a combination of any of 1-3)

I'

[2017-04-07 02:57] kprinssu commented on #19
Which version of the app are you using?

Have you tried getting the latest version from Github?

The latest version of the app should work properly. That screenshot you provided looks from a very old build.

[2017-04-07 03:01] kprinssu commented on #20
The config files are stored in temporary folder and the path changes for each system. Take a look at https://github.com/kprinssu/anne-keyboard-windows/blob/master/AnneProKeyboard/MainPage.xaml.cs#L101 for more information.

Feel free to make a Linux port!

If you got an idea for an improved UI, then submit a PR. I'll review and merge it.

Most of the byte array logic is in the app, if you run into

[2017-04-07 10:21] thomasf commented on #20
Thanks for the info and the ground work for the BT communication stuff.

I did search for a `KeyboardProfilesData` file in my users local app data folder.. I probably did some mistake, I haven't developed for windows API's for at least 15 years so I have no idea how all those things works now.. I'll probably figure it out.

[2017-04-07 10:21] #20 closed, assigned to nobody

[2017-04-07 10:31] thomasf commented on #20
found it by mounting the partition and searching form my linux os... I'm the worst at windows, it seems like I can't even find files correctly :)

[2017-04-12 19:29] jacobbjo commented on #19
Yeah, old version i found on the subreddit wiki. now its working!

[2017-04-12 19:29] #19 closed, assigned to nobody

[2017-04-17 08:23] hungsu opened #21 "Problems binding keys on function layer"
Hi, I've noticed a few problems with using the Windows 10 app to bind things to the Function layer

![](http://i.imgur.com/oWg6B8Y.png)

With this layout:
The fourth row is shifted to the left one key, so Fn+Shift is ".", Fn+Z is "," and so on
Binding Fn+Spacebar actually binds Fn+LeftCtrl. So in this case, pressing Function+LeftCtrl is Enter

Any idea what I can do?

[2017-04-19 00:02] kprinssu commented on #21
It was a bug that was recently fixed in https://github.com/kprinssu/anne-keyboard-windows/commit/81db9ef09ad2d11ad04b1f760298adaf6d447880

Unfortunately, I do not have a new build or access to a windows machine until the end of the month. You need to clone the project, build, and manually install it.

[2017-05-03 02:34] kprinssu commented on #21
Your issue should be fixed in https://github.com/kprinssu/anne-keyboard-windows/releases/tag/1.0.3

Please let me know if you have the same issue.

[2017-05-03 21:44] #21 closed, assigned to kprinssu

[2017-07-01 20:11] Piping opened #23 "adjust in-app keyboard size"
Hi,

First of all, thank you for this awesome project that enables me to customize the keyboard through windows.

Can you show me how to change the size of keyboard shown in app? The keys are clustered together and the labels are not completely visible.

[2017-07-01 20:49] ethanmsmith commented on #23
There is currently no way to resize the keyboard. Might be something worth looking into in the future, though. (Maybe when odins updates the keyboard firmware)

[2017-07-03 00:53] kprinssu commented on #23
@Piping if you are referring to the UI, then it is doable.
I am aware that the UI is clunky right now, but I do not have the time to redo it. If someone else is willing to do it, I can merge it and do a new build.

[2017-07-15 04:13] Piping commented on #23
@kprinssu yeah, I am talking about UI. I never look at windows development and don't know C#. But if you can give me a start point on where the code should be updated, that will be very helpful.

[2017-07-15 04:21] ethanmsmith commented on #23
@Piping I've found some free time, so I'm actually working on updating the ui at the moment. I've done some work, including enlarging the keyboard. You can see what I'm working on in my local repo

[2017-07-19 05:25] Piping commented on #23
@ethanmsmith  Thanks!!

[2017-07-19 10:58] kprinssu commented on #23
@ethanmsmith please submit a PR, I'll merge the changes in.

[2017-07-19 16:23] ethanmsmith commented on #23
Its not complete, yet. I had to move some things around and haven't got them fully up and running again. If I am going to put in the effort to separate views, I don't want to half ass the connection aspect.

The UI is complete, but it is not back to full functionality, then I have to test. Do you have any tests you run builds against?

[2017-07-19 23:42] kprinssu commented on #23
There aren't any automated tests and builds.

[2017-07-19 23:52] ethanmsmith commented on #23
Ok. Good to know

[2017-11-29 20:31] LMayne1 commented on #23
Any idea why the light setting would only work on the first 7 keys off the KB? only escape through 7 are lighting up when i sync the profiles.

[2017-11-29 22:49] kprinssu commented on #23
It's a bug that @ethanmsmith fixed. The fix is not added to the current release.

I am intending to do a new build later this week/early next week.

[2017-12-05 10:47] ghost commented on #23
Github rookie here (which I why I post here):
Is it possible to choose "no color"/transparent for the keycaps in this app?

PS: Really love the work here! 👍

[2017-12-07 23:04] ethanmsmith commented on #23
What do you mean? Do you mean no lighting on a specific key/keys?
If so, I don't actually recall. My gut says if you set it to black it might... But I don't think there is anything that allows off backlighting

[2017-12-11 01:41] kprinssu commented on #23
@ethanmsmith I have pushed a new release containing your changes.
@LMayne1 please give 1.0.4 a try.
@bravobavo setting the colour to black should turn off the backlight.

[2017-12-11 20:29] ghost commented on #23
I was thinking the same thing when turning on black. And yes, turning
off backlight on spesific keys was what I meant :=)
However, lately I think an issue has occured: when I set the buttons to
black rgb(0,0,0), they always have this tint of the color that is
currently selected (for example dark purple instead of black). First I
thought this was because of the lighting spread from other buttons wh

[2018-01-08 16:52] fcoury opened #25 "Port communication layer to Node.js / Electron"
Not really an issue but I wanted to check the feasibility of porting the communication part of this application to Node.js / Electron using something like the [https://github.com/sandeepmistry/noble](noble) library.

Do you have any documentation (or links to parts of the code) on the protocol you used to communicate with the keyboard?

Thanks!

[2018-01-08 18:34] kprinssu commented on #25
You should be able to use Noble to communicate to the keyboard. I unfortunately do not have documentation of the protocol as this project was put together over a week.

I hate to say this but you will need to read the code to understand the protocol (see the bottom of this comment for most relevant parts). If you find the code is rather indecipherable then please do not hesitate contact me over em

[2018-01-08 19:05] fcoury commented on #25
@kprinssu this is AWESOME. I am somewhat familiar with C#, completed a few projects using it so it shouldn't be a huge problem.

I'll keep you posted on the progress of the project and maybe nag you a bit here and there if I have any questions.

Thanks!

[2018-01-08 19:09] kprinssu commented on #25
Sur, please keep me updated on your progress. It’s nice to see more projects being created for such a niche keyboard.

[2018-01-08 23:02] ethanmsmith commented on #25
@fcoury If you're going to make an electron version of this app, I'd be interested in helping out

[2018-01-09 00:27] fcoury commented on #25
@ethanmsmith your help will be very welcome. I put together a skeleton with basic (and ugly) keyboard rendering here: https://github.com/fcoury/electron-anne-pro.

My keyboard arrives Thursday and I plan on writing a separate npm module with a high level bluetooth communication library that can be reused by any node.js application.

[2018-01-17 13:03] kprinssu commented on #25
@fcoury I suggest you don’t rewrite the Noble Bluetooth library. It should already have the proper communication methods for Bluetooth.

The Anne Pro keyboard is rather peculiar (in regards in data being sent in chunks) but it communicates over standard Bluetooth protocol.

[2018-01-17 13:06] fcoury commented on #25
Easier said than done @kprinssu. The plan was to use Noble but it doesn’t even recognize the keyboard in its current state:

https://github.com/sandeepmistry/noble/issues/736

This issue has been open for quite some time and it seems nobody care, so unfortunately I had to do it myself.

[2018-01-17 18:56] fcoury commented on #25
@kprinssu I even created a reusable library that uses BluetoothCore and IOBluetooth on macOS to work around noble - https://github.com/fcoury/node-anne-pro

[2018-01-17 22:48] kprinssu commented on #25
That is quite unfortunate, noble is a pretty good library. I’ll take a look at your node library and see if I can extend it to Linux.

[2018-01-17 22:58] fcoury commented on #25
The code is based on my fork of this library:

https://github.com/fcoury/node-core-bluetooth

I will see if I find time to help with linux at some point.

[2018-01-21 10:07] SuperCuber opened #26 "Crash when deleting profile"
Steps to reproduce:

1) Create a new profile
2) Move to "lights" screen
3) Try to delete said profile
4) App should crash after a couple seconds of freezing, any changes to profiles not saved

[2018-01-21 10:08] SuperCuber opened #27 "Does not recognize keyboard when wired"
From what I see, app only recognizes keyboard via bluetooth and doesn't work when connected with wire

[2018-01-21 13:00] ethanmsmith commented on #27
It doesn't not work over wire, only bluetooth

[2018-01-21 19:01] kprinssu commented on #27
@ethanmsmith is correct. This will only work over Bluetooth Low Energy (Blutetooth 4.0).

[2018-01-21 19:01] #27 closed, assigned to nobody

[2018-01-21 19:54] SuperCuber commented on #27
@kprinssu so that's intended behavior? Probably should leave it open with enhancement tag

[2018-01-21 19:55] ethanmsmith commented on #27
It's a keyboard limitation, not our choice

[2018-01-21 23:39] kprinssu commented on #27
I would pass the blame on this over to the manufacturer, Obins. It was probably an easy to choice to make, it is considerably cheaper to not create a USB driver.

[2018-01-22 02:22] ethanmsmith commented on #26
Alright, so think I know why this is happening, could you tell me what profile is being deleted in order in the dropdown? e.g. are you deleting the first or last profile in the list, or something in between?

[2018-01-23 09:27] SuperCuber commented on #26
I tested it when I had 2 profiles and tried deleting the 2nd one

[2018-01-23 20:02] kprinssu commented on #26
Which version of the app are you using?

[2018-01-24 12:23] SuperCuber commented on #26
Using version 1.0.4

[2018-02-03 01:48] Blucky87 opened #28 "porting to linux cli python program"
hello, I have been working on porting over your logic to a python script for linux.
I have successfully gotten it to write the bytes over BlueZ Dbus to an already paired anne pro.

I added Debug.Writeline methods to see the data that was being sent in the KeyboardWriter, copied it and just hardcoded my python script to send it over dbus using the gatt library.

I have some questions:

1. what is t

[2018-02-04 04:14] kprinssu commented on #28
The code you quoted is me trying to get more information about which settings are stored on the keyboard.

I am certain that the GATT characteristics are the used for reading/writing. I have confirmed it by enabling Bluetooth debug mode on Android.

Unfortunately, the bulk of the reverse engineering was done on a weekend. I do not have a proper write up. A lot of the bytes array packing was revers

[2018-02-17 21:30] will-hedges opened #29 "Leaving unused keys as blank rather than "None""
Thanks for this awesome project. Editing the AP board on the phone app is pretty slow. Your app is a real lifesaver.

One thing I noticed from the app version is that programming the function layer is easier when you leave unused keys blank, rather than using "None." Is there a way to utilize this in the Win10 app?

Again, thanks for taking the time to port this!

[2018-02-19 21:00] kprinssu commented on #29
This is will be considered for a future release. As of this moment, I do not have time to add features to the app.

[2018-02-19 22:47] will-hedges commented on #29
Thanks for the response. I certainly understand considering this is a side project. I appreciate you developing it in the first place.

[2018-02-24 21:25] kprinssu commented on #28
Closing this issue since it's not bug or a feature request for the app.

[2018-02-24 21:25] #28 closed, assigned to nobody

[2018-02-24 21:25] kprinssu commented on #25
Closing this issue since it's not bug or a feature request for the app/.

[2018-02-24 21:25] #25 closed, assigned to nobody

[2018-02-24 22:03] fcoury commented on #25
Thank you so much for all the insight you shared here though, it was really helpful!

[2018-02-24 22:58] nraiha opened #30 "Anne Pro connected to windows but app doesn't recognize it"
I have connected Anne Pro to windows with the Bluetooth dongle.  (connected with CSR Bluetooth-radio)
The app just keeps waiting for the sync and status stays "not connected".

Any workarounds?

[2018-02-24 23:26] kprinssu commented on #25
Just closing the issue as a general cleanup. Feel free to ask questions.

[2018-02-24 23:27] kprinssu commented on #30
Does the keyboard work over Bluetooth (as in can you type using it)?

[2018-02-24 23:38] nraiha commented on #30
Yes it works perfectly.

I've also tried to restart the Anne Pro Keyboard program few times.

[2018-02-25 06:07] kprinssu commented on #30
Can you check if the device is communicating on Bluetooth aloe Energy (BY 4.0)? There is a guide on the obins website that explains how to do this.

[2018-03-02 06:53] balintd opened #31 "Add-AppDevPackage.ps1 missing from repo"
The README says for installing the application one should right click on `Add-AppDevPackage.ps1`, but there is no file named like that in the repository.

[2018-03-02 12:34] kprinssu commented on #31
This is built automatically by Visual Studio for binary releases. The Git repository does not contain the binary version and only the source code.

The file can be found within the zip archives  on the “Releases”.

[2018-03-02 12:34] #31 closed, assigned to nobody

[2018-03-02 13:22] balintd commented on #31
Thanks!

[2018-03-07 02:35] rmcmilli commented on #30
I'm having the same problem. I'm using the dongle.  I can type using Bluetooth and it is using LE

[2018-03-07 02:40] rmcmilli commented on #30
Quick update: I uninstalled, unplugged, and reinstalled and now it's connected.

[2018-03-07 13:50] kprinssu commented on #30
Next time please create your own Github issue. I am closing this issue for now.
@nraiha please feel free to reopen if you are still facing issues.

[2018-03-07 13:50] #30 closed, assigned to nobody

[2018-03-23 00:19] ethanmsmith commented on #26
I think I found the problem. I've taken profile logic out of individual pages. (Really should have done that when I refactored the pages, but I didn't want to.) @kprinssu What is the build process? Ill build my fork and have @SuperCuber and possibly others confirm its fixed.

[2018-03-23 13:56] SuperCuber commented on #26
@ethanmsmith sure thing, make sure to ping me on that fork though

[2018-03-23 14:10] ethanmsmith commented on #26
Perfect. Once it's ready, will do

[2018-03-23 23:15] kprinssu commented on #26
@ethanmsmith can you please create a PR? I will run a new build on my Windows VM after some testing.

[2018-03-27 14:13] ethanmsmith commented on #26
So, I did fix the profile crashing, but since I can never do one thing at a time, I changed a decent chunk of the current code to native XAML controls. I need to fix a few minor bugs I introduced...

[2018-03-27 18:21] kprinssu commented on #26
Okay. Tag me in the new PR and I’ll do the rest.

[2018-04-03 19:08] claychinasky opened #32 "Problem with remap"
I can't seem  to remap FN key to any key. It simply doesn't work as rightside FN key does. The key seems to mapped as blank I think.

[2018-04-03 19:11] ethanmsmith commented on #32
Did you un-map the right fn key? The keyboard firmware only allows one fn key

[2018-04-03 19:22] claychinasky commented on #32
Yes, I did. FN + 1 keys are working as F keys but WASD and other keys are not working with FN key remmaped on LWIN key. When I try FN+WASD it snaps windows to screen and when I press only FN key it pops up the windows start menu. I guess its firmware issue then ?

[2018-04-03 19:26] ethanmsmith commented on #32
Sounds like it's both fn and win key... I'll take a look into it.

[2018-04-03 19:48] claychinasky commented on #32
Ok figured out. Both function layer and base layer mapping needs to match. What was happening once FN key is pressed it turns itself to LWIN key. After I correct it to FN key, it worked as expected.

[2018-04-06 10:24] claychinasky opened #33 "Remapping non-standard keys"
Hi,

Is it possible to add support for remapping keys to F13-F24 ?
I use them as modifier keys for custom  action in autohotkey etc. For example I like to remap Anne key for F15 so no other standard key combination will brake because no application uses F12+ keys.

[2018-04-06 11:47] kprinssu commented on #33
I do not this is possible. The official application does not support it and I have no way of replicating that behaviour on here.

Please let me know if I am incorrect, I will reopen this issue and will look into it.

[2018-04-06 11:47] #33 closed, assigned to nobody

[2018-05-08 02:56] rossmilkq opened #34 "cert expired"
The cert expired for the install on the Dec 11, 2018. Can someone update the cert for the appxbundle.

[2018-05-08 20:12] kprinssu commented on #34
Do you mean December 11, 2017? It is currently May 8, 2018 and the certificate *should* not have expired by now (as of this response).

Which version of the app are you using?

[2018-05-16 14:50] rossmilkq commented on #34
I am sorry, your right I posted the wrong date and was trying to install an earlier version. It worked with 1.0.4.

[2018-05-16 14:50] #34 closed, assigned to nobody

[2018-05-18 01:18] ethanmsmith commented on #32
I think this is working as intended tbh. Close this?

[2018-05-18 01:19] ethanmsmith commented on #26
Newest build should fix this issue @SuperCuber

[2018-05-18 07:19] SuperCuber commented on #26
@ethanmsmith Tested, looks like the issue is fixed. Closing.

[2018-05-18 07:19] #26 closed, assigned to nobody

[2018-05-18 11:38] kprinssu commented on #32
This part of the app was hacked together. The reason why you need to have the FN key in both the base and function layer is to ensure that you can actually toggle back between the two layers.

 Proper documentation should be added.

[2018-05-18 11:39] kprinssu commented on #29
Fixed in the latest build. Thanks @ethansmith.

[2018-05-18 11:39] #29 closed, assigned to nobody

[2018-05-20 13:19] Neptune-mk2 opened #36 "Crash when Resizing Window"
Resize the app to the smallest size, ideally a tall portrait style window (think mobile phone size), open the hamburger menu, go to lighting then back to layout, close the menu, resize the app window back to full size, open the menu.

The crash is not random, its very consistent and happens at the exact moment you try to open the menu.

[2018-05-20 15:10] kprinssu commented on #36
Looks like an issue with native code with XAML (unmanaged exception with the Microsoft's XAML dll). I will need to debug further to figure out what exactly is causing the crash but for now it's not a high priority.

[2018-05-22 02:00] ethanmsmith opened #37 "Fail to save profiles when app exiting"
The app occasionally fails to save profiles when exiting. Yet to reproduce on a consistent basis, but looking into it.
If this happens to you, please tell me the last actions you performed before exiting the app.

[2018-05-22 11:38] kprinssu commented on #37
My guess is there is an exception being raised (which exception will be hard to debug without logs).  The app will silently fail in order to not cause the app to crash.

[2018-05-26 19:49] ddejohn commented on #37
Happening to me, too, on every app exit

[2018-05-26 20:50] ddejohn opened #38 "RGB cursor position stuck"
Cursor remains fixed in the top-left corner.

https://i.imgur.com/a6hfmnR.png

[2018-05-26 22:31] kprinssu commented on #38
Have you tried click and dragging the circle?

I am closing this issue because it is not reproducible.

[2018-05-26 22:33] kprinssu commented on #37
The latest commit, https://github.com/kprinssu/anne-keyboard-windows/commit/0c8c8e4235cf642811b557a3364dc7ea0a5d60ea, should fix the issue. I am pushing out a new build.

Profiles *will not* be saved on app exit. It will automatically save when you sync the profile.

[2018-05-26 22:33] #37 closed, assigned to nobody

[2018-05-29 01:16] ddejohn commented on #38
Tried clicking and dragging, colors change but the cursor is still stuck. 1.0.5, and also in 1.0.6.

[2018-05-29 01:21] ethanmsmith commented on #38
I did come across this, but it only happened on my dev computer (vms and other computers had no problem) and just assumed it was my computer acting strange. I don't think its a problem with the control since this is an official microsoft xaml control.

Any additional info like what you did before trying to change the color would be helpful.

[2018-05-29 02:25] ddejohn commented on #38
Installed the app, went to the color-changing tab, tried to change the colors. Wasn't working in 1.0.5, and also not working in the latest release.

[2018-05-29 13:29] kprinssu commented on #38
Going to reopen the issue. I’ll need to take a look at why the issue occurs.

@ddejohn can you provide more info on the issue? Did it work before, what’s your OS? Does older versions of the app work?

[2018-05-29 14:18] ddejohn commented on #38
I just got the keyboard a few days ago. 1.0.5 was my first version of the app, and it never worked. Running Windows 10 Education (basically Enterprise).

[2018-05-29 17:51] ddejohn opened #39 "1.0.6 can't connect to keyboard"
Bluetooth connection status at bottom left is "Not Connected" despite the keyboard being connected to the computer and functioning properly. Unable to make any changes. I've tried wired and wireless, and I've also tried repairing the keyboard to the computer to no avail. I may have gotten a faulty KB, because I've been having issues with the BT, but FWIW, 1.0.5 was able to connect and make changes

[2018-05-29 17:54] ddejohn opened #40 "[request] If possible, allow for changing layouts via wired connection instead of bothering with connecting the app using bluetooth"
Changing keyboard layouts and lighting schemes is kind of a set-and-forget type of process. I think it'd be a lot easier and more reliable to just use a wired connection in order to make changes to the KB.

[2018-05-29 18:35] kprinssu commented on #40
Wired connection will not be supported due to the limitations of the keyboard firmware.

[2018-05-29 18:35] #40 closed, assigned to nobody

[2018-05-29 18:43] ethanmsmith commented on #40
Your best bet is the anne-key firmware. I opened an issue for wired on their github [here](https://github.com/ah-/anne-key/issues/64). There is also someone working on a qmk port for the Anne [here](https://github.com/josecostamartins/qmk_firmware)

[2018-05-29 19:34] kprinssu commented on #39
Can you try connecting the keyboard to your phone? Download the official obins app and check if you can control the keyboard from there.

[2018-05-29 19:41] ddejohn commented on #39
I am able to connect and control the keyboard from my Android phone.

[2018-05-29 21:07] baalimago opened #41 "Dynamic lighting implementation"
Hello!

I want to implement configurable dynamic lighting (which will be similar to the preset on the keyboard, but configurable by anyone using the windows app) so, as you might have noticed, I forked and plan to use your underlying work as a basis for this.

I saw that you've borrowed some code from their app to implement the button color swap into the keyboard, how did you get access to their a

[2018-05-29 23:28] kprinssu commented on #41
I would suggest you remove your email off Github (prevent it from being scraped and spammed). I decompiled the app and reverse engineered what was going on.

Here is the app decompiled: https://github.com/metr1xx/anne-pro-community-app

I am closing this issue since it’s not an bug associated with the windows app.

[2018-05-29 23:28] #41 closed, assigned to nobody

[2018-05-29 23:29] kprinssu commented on #39
I would suggest you try to connect to Windows and check if you can type with it  wirelessly (as in,  connect over Bluetooth, ensure that the USB cable is not connected).

Then try using the app.

[2018-05-29 23:31] MvEerd commented on #41
The APK is available on the obins website: http://www.obins.net/app_dl.php

You can find more info on the disassembled APP here;
https://hi-a.github.io/annepro-key/
https://github.com/hi-a/annepro-key

The (dynamic) presets are not actually sent by the app, instead they are a part of the firmware on the STM32 chip which is dedicated to control the LEDs
The LED chip and firmware receive messages fr

[2018-05-30 00:25] ddejohn commented on #39
Check the OP. I've already confirmed the keyboard works properly under bluetooth connection.

[2018-05-30 00:40] ddejohn commented on #39
The "sync profile" option is not grayed-out, though. But when I try to sync, a message flashes briefly saying that it failed to sync and that the exception was handled.

[2018-05-30 00:41] kprinssu commented on #39
Can you open up Bluetooth settings and take a screenshot?

The settings should like so http://thewindowsclub.thewindowsclubco.netdna-cdn.com/wp-content/uploads/2016/08/bluetooth-in-windows-10.png

[2018-05-30 04:14] ddejohn commented on #39
https://i.imgur.com/3kaWCHr.png

[2018-05-30 22:17] ddejohn commented on #39
So I figured out the problem. Somehow, my computer had assigned vscode as the default application to .ps1 files, which was preventing the app from working. Changed it back to notepad, and "run in powershell" reappeared in the .ps1's context menu. App works fine now. I'm not sure what caused this to happen, but glad to know it wasn't an issue with the app.

[2018-05-30 22:17] #39 closed, assigned to nobody

[2018-05-30 22:35] kprinssu commented on #38
So the app works without issues (see https://github.com/kprinssu/anne-keyboard-windows/issues/39#issuecomment-393337837)?

[2018-05-30 22:36] kprinssu commented on #9
I do not have the time to add new features to the app.

[2018-05-30 22:36] #9 closed, assigned to kprinssu

[2018-05-30 22:36] kprinssu commented on #5
I do not have the time to add new features to the app.

[2018-05-30 22:36] #5 closed, assigned to kprinssu

[2018-05-30 22:41] ethanmsmith commented on #38
That's interesting.. My dev computer is win10 education, but other machines I tested on are not

[2018-05-31 02:03] ddejohn commented on #38
@kprinssu no, the RGB cursor is still stuck. Everything else is working as far as I can tell. Are there logs being dumped somewhere I can provide?

https://i.imgur.com/XTJLnsz.gifv

[2018-05-31 02:04] ddejohn commented on #38
@kprinssu no, the RGB cursor is still stuck. Everything else is working as far as I can tell. I posted a GIF.

[2018-06-01 11:32] kprinssu commented on #38
The logs are not being saved to file. It should be streamed to standard out. As far as I know, on release builds of the apps it’s not captured by anything.

I’ll grab a copy of Win10 Education and debug further on my own.

[2018-06-04 14:57] chai opened #42 "Can't get dropdown UI to allow remapping of keys selection"
Running Windows 10 1803 (Build 17134.81), noticed that the app is not letting me select a different key to remap. Its seem to be a display/layer issue as sometime you can see the dropdown for selecting a different key appear briefly. Please see the attached video for details.

Thanks for creating this tool.
[Anne Pro Keyboard 4_06_2018 09_45_30.zip](https://github.com/kprinssu/anne-keyboard-window

[2018-06-04 22:26] rkg0612 opened #43 "Certificate error"
I get a certificate error whenever I try to install the app. Any way to fix this?

"The developer certificate has expired. One possible cause is the system clock isn't set to correct date and time. If the system settings are correct, contact the app owner to recreate a package or bundle with a valid certificate"

My system date and time are both correct. I think the app certificate is the real pro

[2018-06-04 22:41] ethanmsmith commented on #43
Related to #34?

[2018-06-05 23:08] ethanmsmith commented on #42
Can you tell us anything you did before this happened? Were you ever able to get the dropdown to show correctly? Can you try updating to the latest version and see if the bug persists?

[2018-06-07 00:30] kprinssu commented on #43
I suggest you update your app.

[2018-06-07 00:30] #43 closed, assigned to nobody

[2018-06-07 00:31] kprinssu commented on #42
I fixed the issue in 1.0.6. I suggest you update and grab the latest version of the app.

[2018-06-07 00:31] #42 closed, assigned to nobody

[2018-06-20 06:56] sushiyogurt opened #44 "problem installing"
![ruokan](https://user-images.githubusercontent.com/32783996/41642076-e2b47bf4-7499-11e8-8c94-b507be604d83.PNG)

[2018-06-21 20:39] kprinssu commented on #44
You will need to update Windows 10 to the latest (April 2018 update) to use the app.

[2018-06-21 20:39] #44 closed, assigned to nobody

[2018-07-24 13:19] grimid opened #45 "Does this work without bluetooth?"
Can the rgb lighting be controlled through just wired connection without Bluetooth enabled?

[2018-07-24 13:46] ethanmsmith commented on #45
Unfortunately, no. See #40

[2018-07-25 01:56] kprinssu commented on #45
No. Please take a look at other issues before opening a new one.

[2018-07-25 01:56] #45 closed, assigned to nobody

[2018-09-11 08:40] filmerjarred opened #46 "Why does the app want to install a trusted root certificate?"
Installing a trusted root ca cert for am app that doesn't seem like it needs it makes me nervous :S. Why would this be required?

[2018-09-11 11:51] ethanmsmith commented on #46
Here's documentation on why it's needed https://docs.microsoft.com/en-us/windows/uwp/packaging/packaging-uwp-apps#sideload-your-app-package

Basically, you are sideloading instead of installing from the trusted windows store. So you need to tell windows that the developer is trusted

[2018-09-12 23:09] kprinssu commented on #46
The release builds are signed by an untrusted test certificate. I do not want to pay the fee to get a Windows code-signing certificate. You can always grab a clone of this Git repository, build, and deploy the app locally.

[2018-09-12 23:09] #46 closed, assigned to nobody

[2018-10-11 11:24] mainrs commented on #5
Do you mean the official windows/Mac app or the phone app?

[2018-10-11 11:33] ethanmsmith commented on #5
Phone app. This project was made before obins had their official desktop app

[2019-03-12 15:39] gnogas opened #47 "Installation issue"
![image](https://user-images.githubusercontent.com/23090984/54213734-304c0a00-44e5-11e9-8060-d5923291919b.png)
When i install i get this error, my windows 10 is updated.

[2019-03-12 16:15] ethanmsmith commented on #47
Use obins' official app. This app hasn't been updated in a bit and could be broken, who knows.

[2019-03-12 16:20] gnogas commented on #47
Maybe im dumb but i can't find it for windows, does it not exist or am i just bad at searching?

Edit: nevermind i found it! http://en.obins.net/obinslab-starter

[2019-03-12 16:43] #47 closed, assigned to nobody

[2019-06-10 15:08] iGnotusCs opened #48 "Certificate has expired."
Certificate has expired (valid from 5/18/2018 to 5/18/2019). Can anyone renew this please? :)
![Screenshot_3](https://user-images.githubusercontent.com/9625522/59205091-c22de680-8baa-11e9-980a-c65511f1d7b8.png)

[2019-06-10 17:32] ethanmsmith commented on #48
#43 also https://github.com/kprinssu/anne-keyboard-windows/issues/47#issuecomment-472069240

[2019-06-26 21:17] robinlarondelle commented on #47
@ethanmsmith if this repo isn't updated, shouldn't it be marked archived? There is no way of working around the expired certificate, and if you are not willing to update it or create a new one, you should probably archive the repo

[2019-06-26 21:29] ethanmsmith commented on #47
Perhaps, but it is not my repo to archive

[2020-05-01 09:57] Sov3rain commented on #48
Can someone repackage the tool? Right now we can't install it.

[2020-05-01 15:57] kprinssu commented on #48
I will be doing a new build later this weekend. Please wait until then.

[2020-06-11 02:55] Alexandros-Demirtzoglou commented on #48
My birthday is on June 12th! Do you think you could renew the certificate so I can use your great app please? 😄

[2020-09-08 11:59] NaanMan commented on #48
Well then

[2020-09-09 15:45] iluretar commented on #48
Any news on the new build?

[2020-09-09 17:23] ethanmsmith commented on #48
This is no longer actively maintained. Check out https://github.com/IOIIIO/anne-keyboard-windows for the latest fork

[2020-09-09 18:34] NaanMan commented on #48
That one also says the certificate has expired >_>

[2020-11-20 03:38] daewon commented on #48
@ethanmsmith I downloaded the file to the linked repository and ran it, but it still says that the certificate has expired.

Is there any way I can use it?

[2020-11-20 16:28] kprinssu commented on #48
Due to me working full-time and switching over to Linux/macOS, I do not think I will be providing support for this project.

Please consider using the official Obins app or building this app from scratch.

[2020-11-20 16:28] #48 closed, assigned to nobody